# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
# /build/1fbd45a412d22a4544d9deb00a1b4473
# /build/flutter_assets/
# /build/cache.dill.track.dill/
# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx/Debug/44281m6c/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/44281m6c/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/44281m6c/arm64-v8a/configure_fingerprint.bin
build/app/intermediates/compressed_assets/debug/out/assets/flutter_assets/kernel_blob.bin.jar
android/app/.cxx/Debug/44281m6c/arm64-v8a/configure_fingerprint.bin
